<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="MongoDbConn" connectionString="mongodb://localhost:27017"/>
    <add name="SqlServerConn" connectionString="Server=.\SqlExpress;Database=WholeBusinessWarehouse;Trusted_Connection=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="DefinitionFile" value="C:\Dropbox\Projects\Sql2Mongo\Sql2Mongo.Console\Definitions.json"/>
  </appSettings>
</configuration>